.dashboard {
	color: white;
	text-align: center;
	/* border-top: 1px solid; */
	padding: 10px;
	background: rgb(46, 46, 46);
}
.nav {
	font-size: 1.2rem;
}
.sidebar {
	color: black;
	/* height: 700px; */
	border-right: rgb(199, 199, 199) 1px solid;
}
.nav .nav-link {
	color: black;
	border-bottom: white 2px solid;
}
.nav .nav-link i {
	margin-right: 4px;
	opacity: 0.8;
}
.sign-location {
	float: right;
}
.find-product {
	height: 200px;
	position: absolute;
	top: 0;
	right: 50%;
	left: 0x;
	bottom: 0;
	border: 1px solid gray;
	border-radius: 5px;
	z-index: 100;
}
