.content {
	font-size: 1.1rem;
}
.list-content {
	background: rgb(255, 255, 255);
	border-right: 2px solid rgb(235, 235, 235);
}

.sidebar-costumer {
	/* position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100; */
	border-right: 2px solid rgb(233, 233, 233);
	height: 800px;
}
.sort-feature {
	font-size: 1.1rem;
}
.checked {
	color: orange;
}
